/*      Body de la page     */
body {
    background-image: url(image/background.jpg);
}

/*      Titre sur le jeu        */
.titre {
    display: flex;
    justify-content: center;
}

/*      Image du titre      */
.titre img {
    width: 312px;
    height: 100px;
}

/*      Conteneur du jeu        */
.conteneur {
    width: 512px;
    height: 432px;
    margin: auto;
    border-radius: 25px;
    position: relative;
    background-size: 512px 432px;
    overflow: hidden;
}

/*      Conteneur qui slide     */
.conteneur-slide {
    width: 3000px;
    height: 432px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 512px 432px;
}

/*      Div de Mario       */
.mario {
    height: 50px;
    width: 40px;
    position: absolute;
    bottom: 20px;
    left: 40%;
}

/*      Img de Mario        */
.mario img {
    height: 100%;
    width: 100%;
}

.texture_bottom {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 20px;
    background-image: url(image/mario-texture.png);
    background-size: 100%;
}

.texture_top {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50px;
    bottom: 100px;
    background-image: url(image/mario-texture.png);
    background-size: 100%;
}